@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue-10: #f1f6f9;
  --blue-20: #cde4f2;
  --blue-40: #9ccae6;
  --blue-60: #6ab0da;
  --blue-80: #3895ce;
  --blue-100: #067bc2;
  --white: #ffffff;
  --gray-50: #d6d6d6;
  --gray-80: #50596a;
  --gray-100: #2c3850;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--gray-80);
}

p {
  font-size: 1rem;
  color: var(--gray-80);
}

button {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4c596e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
