@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

main {
  display: flex;
  width: max(50%, 480px);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: calc(80vh - 88px);
  padding: 0 48px;
  gap: 12px;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
  position: absolute;
}

.feature-img {
  width: min(720px, 75%);
  height: auto;
  transform: rotate(-12deg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
